<div class="row">
    <div class="col d-flex justify-content-end">
        <button routerLink="/user/create" class="btn btn-primary">New</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users">
                <th scope="row">1</th>
                <td>{{item.username}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>